.breadcrumbs {
  display: flex;
  height: var(--header-height)/2;
  margin: 20px 0 0 0;
  list-style: none;

  &__step {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 20px;
    color: var(--color-grey);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    transition: 0.3s ease-in-out;

    &:not(:last-child)::after {
      width: 10px;
      margin: 0 0 0 20px;
      color: var(--color-light-blue);
      content: '>';
    }

    &:last-child {
      color: var(--color-light-blue);
    }
  }

  &__link {
    color: var(--color-blue);
    text-decoration: none;
  }
}
