{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "plugin/rational-order": [true, {
      "border-in-box-model": false,
      "empty-line-between-groups": false
    }]
  }
}
