{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "rule-empty-line-before": "always",
    "media-feature-range-operator-space-before": "never",
    "media-feature-range-operator-space-after": "never",
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "never",
    "plugin/rational-order": [true, {
      "border-in-box-model": false,
      "empty-line-between-groups": true
    }]
  }
}
