.form {
  width: 600px;
  padding: 20px;
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  text-decoration: none;
  border-radius: var(--radius);
  box-shadow: 0 10px 50px rgb(0 0 0 / 10%);

  &__fieldset {
    flex-grow: 1;
    margin: 10px 0;

    &:first-of-type {
      margin-right: 15px;
    }
  }

  &__client-info {
    display: flex;
  }

  &__address {
    margin: 20px;
  }

  &__validation {
    margin-top: 5px;
    color: var(--color-red);
    font-weight: 400;
    font-size: 12px;
  }
}
