.checkout-form {
  width: 600px;
  padding: 20px;
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-regular);
  text-decoration: none;
  border-radius: var(--radius);
  box-shadow: 0 10px 50px rgb(0 0 0 / 10%);

  fieldset {
    flex-grow: 1;
    margin: 10px 0;
  }

  .form__client-info {
    display: flex;

    fieldset:first-of-type {
      margin-right: 15px;
    }
  }

  address {
    margin: 20px;
  }

  .form__radio-group {

    .form__radio-group--button {

      input {
        width: 15px;
        height: 15px;
        margin-right: 25px;
      }
    }
  }

  .validation {
    margin-top: 5px;
    color: var(--color-red);
    font-weight: 400;
    font-size: 12px;
  }
}
