.store {
  display: flex;

  .sidebar {
    display: flex;
  }

  .categories {
    display: flex;
    flex-direction: column;

    list-style: none;
  }

  .category {
    padding: 8px 15px;
  }

  .products {
    list-style: none;
  }
}
