.sidebar {

  ul {
    width: 100px;
    color: var(--color-black);
    font-weight: var(--font-weight);
    list-style-type: '+ ';

    li {
      padding: 8px;
      font-weight: var(--font-weight-bold);

      a {
        font-size: 14px;
      }
    }
  }
}
