.products {
  display: flex;
  list-style: none;

  li {
    width: 250px;
    margin-right: 15px;
    padding: 20px;
    text-align: center;
    border: var(--border-transparent);

    .products__info-button {
      background-color: var(--color-black);

      &:hover {
        color: var(--color-black);
        background-color: var(--color-white);
        border: var(--border);
      }
    }

    .products__info-details,
    a {
      font-weight: 600;
      font-size: 14px;
    }

    figure {
      margin: 0;
      overflow: hidden;
      cursor: pointer;
    }

    img {
      transition: 0.8s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
