.products {
  &__title {
    color: var(--color-light-blue);
    font-weight: var(--font-weight-bold);
    font-size: 28px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    list-style: none;
  }

  &__item {
    width: 250px;
    margin-right: 15px;
    padding: 20px;
    border: var(--border-transparent);
    border-radius: 0.4rem;
  }

  &__details,
  &__link {
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-regular);
  }

  &__image {
    transition: all 0.5s;

    &-block {
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
