.product-details {
  display: flex;
  flex: 1;
  justify-content: space-between;
  color: var(--color-black);
  text-align: center;
  border-radius: var(--radius);
  box-shadow: 0 10px 50px rgb(0 0 0 / 10%);

  &__description {
    flex: 1;
    padding: 20px;
    color: var(--color-black);
    font-size: 20px;
    text-align: left;
  }

  &__specifications {
    width: 500px;
    padding: 10px;
    font-weight: var(--font-weight-bold);
  }

  &__price {
    padding: 10px 0;
    font-weight: var(--font-weight-bold);
    text-align: center;
    background-color: var(--color-light-blue);
  }
}

.product-details__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-blue {
    width: 150px;
    margin: 0;
    padding: 5px 0;
    color: var(--color-white);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-blue);
    border: var(--border-blue);
    border-radius: 0.4rem;
  }
}

.product-details__info {
  display: flex;
  align-items: center;
  font-size: var(--font-size-regular);
  border-bottom: var(--border-transparent);
}

.product-details__attributies {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;

  &-color {
    width: 25px;
    height: 25px;
    border: var(--border-transparent);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px;
  }
}

.product-details__attribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  font-size: var(--font-size-regular);
}

.info-details {
  &__title {
    flex: 1;
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: 22px;
  }

  &__text:first-of-type {
    margin-right: 15px;
  }

  &__text-availability::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 6px 0 0;
    color: green;
    font-weight: var(--font-weight-bold);
    content: '\2713';
  }

  &__text-unavailability::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 6px 0 0;
    color: var(--color-red);
    font-weight: var(--font-weight-bold);
    content: '\2718';
  }
}
