.banner {
  position: relative;

  height: calc(100vh - var(--header-height));
}

.slides {
  position: relative;
}

.inner-banner {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: opacity 500ms;

  &:not(.active) {
    visibility: hidden;
    opacity: 0;
  }
}

.dot {
  width: 15px;
  height: 15px;

  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 50%;

  &:not(.active) {
    background-color: #fff;
    border: 1px solid #fff;
  }
}

.slide-image {
  max-width: 100%;
}

.slide-nav {
  position: absolute;
  left: 50%;

  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;

  transform: translateX(-50%);
}
