.banner {
  position: relative;
  height: calc(100vh - var(--header-height));

  .banner__content {
    position: relative;
  }

  .slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    margin: 0;
    transition: opacity 500ms ease-in-out;

    &:not(.active) {
      visibility: hidden;
      opacity: 0;
    }

    & img {
      max-width: 100%;
    }
  }

  .banner__content-banner-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 200px;
    transform: translateX(-50%);
  }

  .banner-dot {
    width: 4px;
    height: 4px;
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: 50%;

    &:not(.active) {
      background-color: var(--color-white);
      border: 2px solid var(--color-white);
    }
  }
}
