.filter-categories {
  display: flex;
  padding-top: 30px;
}

.sub-categories {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  font-size: var(--font-size-regular);
  text-decoration: none;
  list-style: none;

  li {
    width: 270px;
    margin-right: 10px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 1px;
    text-align: center;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;

    a {
      display: block;
      padding: 10px 0;
      color: var(--color-white);
      background-color: var(--color-blue);
      border-radius: 0 0 0.4rem 0.4rem;
    }

    p {
      margin: 14px 0;
      color: var(--color-black);
    }

    figure {
      margin: 0;

      img {
        width: 150px;
        margin: 0 auto;
      }
    }
  }

  a:focus,
  a:hover {
    cursor: pointer;
  }
}
