button {
  margin: 0;
  color: var(--color-white);
  line-height: 0;
  background-color: var(--color-black);
  border: 0;

  &:hover {
    color: var(--color-black);
    line-height: 0;
    background-color: var(--color-white);
    border: var(--border);
  }
}
